@import "tailwindcss";

/* Custom scrollbar */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* np. bg-gray-800 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* np. bg-gray-600 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* jaśniejszy odcień */
}

/* Dla Firefoxa */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Gabarito", sans-serif;
  background: var(--background);
  color: var(--foreground);
}

html,
body {
  height: 100%;
}
